# Database
DATABASE_URL=postgresql://postgres:password@localhost:5433/smart_lead_hunter

# Redis
REDIS_URL=redis://localhost:6379/0

# Ollama
OLLAMA_URL=http://localhost:11434

#gemini api key
GEMINI_API_KEY=your-gemini-api-key-here

#hunter api key
HUNTER_API_KEY=fe2*****************************79e19a

#apollo api key
APOLLO_API_KEY=SDf*****************h0Dw

# Insightly
INSIGHTLY_API_KEY=
your-insightly-api-key-here

# Environment
ENVIRONMENT=development
# Authentication
API_AUTH_KEY=your-api-auth-key-here
